* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h4 {
    color: #666;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li p {
    font-size: 16px;
    margin: 0;
}

li button {
    background-color: transparent;
    border: none;
    color: #dc3545;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

li button:hover {
    color: #a31f30;
}

.done {
    text-decoration: line-through;
    color: #6c757d;
}



@media (max-width: 400px) {
    #enter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        height: 250px;
        width: 300px;
        border-radius: 50px;
        background: linear-gradient(145deg,whitesmoke,rgb(4, 120, 4));
        box-shadow: 20px 20px 60px rgb(4, 120, 4),-20px -20px 60px whitesmoke;
    }
}